In [ ]:
"""Lists, tuples, and sets."""

# Списки, кортежи и множества

## Списки

### Основы работы со списками

In [ ]:
from nltk import PorterStemmer

some_list_1: list[str] = []
some_list_2: list[str] = []

print(some_list_1, some_list_2)

number_three: list[int | str | list[str] | dict[str, int]] = [
    3,
    "number three",
    ["number", "three"],
    {"number": 3},
]
print(number_three)

len(number_three)

### Индекс и срез списка

In [ ]:
abc_list: list[str] = ["a", "b", "c", "d", "e"]

print(abc_list[0], abc_list[-1])

In [ ]:
salary_list: list[list[str | int]] = [
    ["Anna", 90000],
    ["Igor", 85000],
    ["Alex", 95000],
]

salary_list[1][0]

In [ ]:
abc_list.index("c")

In [ ]:
salary_list[0].index(90000)

In [ ]:
days_list: list[str] = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

days_list[1:5]

In [ ]:
days_list[:5:2]

In [ ]:
"Mon" in days_list

In [ ]:
if "Tue" in days_list:
    print("Такое слово есть")

### Добавление, замена и удаление элементов списка

In [ ]:
weekdays: list[str] = ["Monday", "Tuesday"]

weekdays.append("Thursday")
weekdays

In [ ]:
weekdays.insert(2, "Wednesday")
weekdays

In [ ]:
weekdays[3] = "Friday"
weekdays

In [ ]:
weekdays.remove("Friday")
weekdays

In [ ]:
del weekdays[2]
weekdays

In [ ]:
weekdays.pop(1)

In [ ]:
weekdays

### Сложение списков

In [ ]:
more_weekdays: list[str] = ["Tuesday", "Wednesday", "Thursday", "Friday"]

weekdays.extend(more_weekdays)
weekdays

In [ ]:
weekend: list[str] = ["Saturday", "Sunday"]

print(weekdays + weekend)

In [ ]:
["Monday"] * 2

In [ ]:
["Monday"] * 2 + ["Tuesday"] * 2

### Распаковка списков

In [ ]:
week: list[str] = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday",
]

mon = week[0]
mon

In [ ]:
mon_1, tue_1, wed_1 = week[0:3]
mon_1, tue_1, wed_1

In [ ]:
mon_1, *_ = week
mon_1

In [ ]:
mon_1, *days, sun_1 = week
mon_1, sun_1

In [ ]:
days

### Сортировка списков

In [ ]:
nums: list[int] = [25, 10, 30, 20, 5, 15]
sorted(nums)

In [ ]:
sorted_nums: list[int] = sorted(nums)
sorted_nums

In [ ]:
nums.sort(reverse=True)
nums

In [ ]:
print(nums)
nums.reverse()
print(nums)

#### Переменная не изменяется при этом

In [ ]:
reversed(nums)

In [ ]:
list(reversed(nums))

### Преобразование списка в строку

In [ ]:
str_list: list[str] = ["P", "y", "t", "h", "o", "n"]
joined_str: str = "".join(str_list)
joined_str

In [ ]:
joined_str_: str = "_".join(str_list)
joined_str_

### Арифметика в списках

In [ ]:
nums_: list[int] = [3, 2, 1, 4, 5, 12, 3, 3, 7, 9, 11, 15]

nums_.count(3)

In [ ]:
print(min(nums_), max(nums_), sum(nums_))

### List comprehension

In [ ]:
names: list[str] = ["Arthur", "Anton", "Alex", "Boris", "Victor", "Eugene"]
a_names_var: list[str] = []

for name in names:
    if name.startswith("a"):
        a_names_var.append(name)

a_names_var

In [ ]:
a_names: list[str] = [name for name in names if name.startswith("a")]
a_names

In [ ]:
lower_names: list[str] = [name.lower() for name in names]
lower_names

In [ ]:
replace_name: list[str] = [name if name != "Victor" else "Vlad" for name in names]
replace_name

In [ ]:
lemmatized: list[str] = [
    "paris",
    "visited",
    "lot",
    "museum",
    "first",
    "went",
    "louvre",
    "largest",
    "art",
    "museum",
    "world",
    "always",
    "interested",
    "art",
    "spent",
    "many",
    "hour",
    "museum",
    "enormous",
    "week",
    "would",
    "enough",
]


porter: PorterStemmer = PorterStemmer()

stemmed_p: list[str] = [porter.stem(s) for s in lemmatized]
print(stemmed_p)
print(type(porter))

['pari', 'visit', 'lot', 'museum', 'first', 'went', 'louvr', 'largest', 'art', 'museum', 'world', 'alway', 'interest', 'art', 'spent', 'mani', 'hour', 'museum', 'enourm', 'week', 'would', 'enough']
<class 'nltk.stem.porter.PorterStemmer'>

## Кортежи

### Основы работы с кортежами

In [ ]:
tuple_1: tuple[()] = ()
tuple_2: tuple[()] = ()
print(tuple_1, tuple_2)

In [ ]:
letters_tuple: tuple[str, str, str] = ("a", "b", "c")
print(letters_tuple[0])
# letters[0] = 'd' -> WRONG

'a'

In [ ]:
letters_list: list[str] = list(letters_tuple)
letters_list[0] = "d"
print(letters_list)

['d', 'b', 'c']

In [ ]:
let_a_tuple: tuple[str] = ("a",)
print(type(let_a_tuple))

tuple

In [ ]:
let_a_str: str = "a"
print(type(let_a_str))

str

#### Функция enumerate()

In [ ]:
companies: list[str] = ["Microsoft", "Apple", "Tesla"]

for company in enumerate(companies):
    print(company, type(company))

#### Просмотр элементов словаря

In [ ]:
shopping_dict: dict[str, int] = {"cucumber": 3, "tomato": 2, "onion": 1, "potato": 2}

for item in shopping_dict.items():
    print(item)

#### Распаковка кортежей

In [ ]:
a_var, b_var, c_var = ("a", "b", "c")
print(a_var)

In [ ]:
for index_value, company_name in enumerate(companies):
    print(index_value, company_name)

In [ ]:
for k_var, v_var in shopping_dict.items():
    print(k_var, v_var)

#### Функция zip()

In [ ]:
names_list: list[str] = ["Arthur", "Anton", "Alex", "Boris", "Victor", "Eugene"]
income: list[int] = [97000, 110000, 95000, 84000, 140000, 120000]

zip(names_list, income)

In [ ]:
list(zip(names_list, income))

### Множества

### Создание множества

In [ ]:
set_1: set[str] = set()
set_2: set[str] = {"a", "b", "c"}
set_3: set[str] = {"a", "b", "c", "d", "e", "f"}
print(set_1, set_2, set_3)

In [ ]:
not_a_set: dict[str | int, str | int] = {}
print(type(not_a_set))

<class 'dict'>

#### Добавление и удаление элементов

In [ ]:
vowels: set[str] = {"a", "o", "ie", "e", "y", "io", "iu"}

vowels.add("ia")
print(vowels)

{'a', 'e', 'o', 'y', 'э', 'ю', 'я', 'ё'}

In [ ]:
vowels.update({"i", "ii"})
print(vowels)

In [ ]:
vowels.add("cha")
print(vowels)

vowels.discard("cha")
print(vowels)

#### Теория множеств в Питоне

In [ ]:
# равны если имеют одинаковые элементы, порядок не важен
{"a", "b", "c"} == {"c", "a", "b"}

#### Мощность множества

In [ ]:
len({"a", "b", "c"})

#### Проверка есть ли элемент в множестве

In [ ]:
a_var in {"a", "b", "c"}

In [ ]:
# или наоборот
a_var not in {"a", "b", "c"}

In [ ]:
set_a: set[str] = {"a", "b", "c"}
set_b: set[str] = {"a", "b", "c", "d", "e"}

set_a.issubset(set_b)

In [ ]:
set_b.issuperset(set_a)

In [ ]:
nlp: set[str] = {"Анна", "Николай", "Павел", "Оксана"}
cv: set[str] = {"Николай", "Евгений", "Ольга", "Оксана"}

In [ ]:
# Все участники
print(nlp.union(cv))
print(nlp | cv)

In [ ]:
# И там и там
print(nlp.intersection(cv))
print(nlp & cv)

In [ ]:
# Только nlp или и там и там
print(nlp.difference(cv))
print(nlp - cv)

In [ ]:
# Или там или там но не одновременно везде
print(nlp.symmetric_difference(cv))
print(nlp ^ cv)